<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <center>
    <form action="/user/forget" method="post" class="m-[15px]">
        <h1 class="text-[30px] font-bold pb-[10px] text-slate-950">Forget Password</h1>
        <input type="text" name="oldpass" placeholder="old password" class="border p-[5px]"><br><br>
        <input type="text" name="newpass" placeholder="new password" class="border p-[5px]"><br><br>
        <button class="bg-slate-950 text-white p-2 w-[200px] p-[5px]" type="submit">forget password</button><br>
       </form>
   </center>

</body>
</html>