<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
        <h1 class="text-[30px] text-[#0b1622] font-bold pb-[10px]">Profile page</h1>
    <h1 class="text-[20px] text-[#0b1622] font-bold pb-[10px]">username : <%= user.username %></h1>
    <h1 class="text-[20px] text-[#0b1622] font-bold pb-[10px]">email : <%= user.email %></h1>
</body>
</html>